[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-populate = "*"

[packages]
psycopg2 = "*"
django-allauth = "*"
Django = "*"
Pillow = "*"
django-crispy-forms = "*"
django-bootstrap4 = "*"
gunicorn = "*"
django-heroku = "*"
sorl-thumbnail = "*"

[requires]
python_version = "3.7"
