{% extends 'basesimple.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% load account %}

{% block title %}
{% block head_title %}

{% endblock head_title %}
{% endblock title %}

{% block main_content %}

  {% block body %}
      <div class="text-center mb-4 container">
               <div class="mt-4 mb-4">
            {% if user.is_authenticated %}
           <span><a href="{% url 'account_email' %}" class="btn btn-info m-1">Change E-mail</a></span>
           <span><a href="{% url 'account_logout' %}" class="btn btn-info m-1">Sign Out</a></span>
            {% else %}
           <span><a href="{% url 'account_login' %}" class="btn btn-info m-2">Sign In</a></span>
          <span><a href="{% url 'account_signup' %}" class="btn btn-info m-2">Sign Up</a></span>
            {% endif %}
          </div>
              {% block content %}
              {% endblock %}
              {% endblock %}
               
              {% block extra_body %}


              {% endblock %}
             
        </div>
      </body>
</html>
{% endblock main_content %}